<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- Link to the CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <a href = "/search">05 Search</a>
    <a href = "/sort">06 Sort</a>
    <a href = "/queue">08 Queue</a>
    <h1>Home</h1>
    <ul>
        {% for i in result %}
            <li><p> {{ result[0] }} </p> </li>
        {% endfor %}
    </ul>

    <table border = "3">
        <tr><td>{{ result[0] }}</td> </tr>
        <tr><td>{{ result[1] }}</td> </tr>
        <tr><td>{{ result[2] }}</td> </tr>
        <tr><td>{{ result[3] }}</td> </tr>
        <tr><td>{{ result[4] }}</td> </tr>
    </table>

    <h6>{{ result[0] }}</h6>  
    <h6>{{ result[1] }}</h6>  
    <h6>{{ result[2] }}</h6>  
    <h6>{{ result[3] }}</h6>  
    <h6>{{ result[4] }}</h6>  


</body>
</html>