<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <!-- Link to the CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <a href = "/">home</a>
    <a href = "/queue">08 Queue</a>

    <h1>05 Search</h1>
    <p> This task utilises Linear Search and Binary Search to identify whether a value is present or not </p>
    <p> Try building the auto complete functionality via an input box here! </p>
    <input = "text"> 
    <button type = "submit"> Search </button>
    <h2> Linear Search </h2>
    <table border = "3">
        <tr>
            <td>size</td> <td>{{ linear[0] }}</td> 
        </tr>
        <tr>
            <td>value sought</td> <td>{{ linear[1] }}</td> 
        </tr>
        <tr>
            <td>exists?</td> <td>{{ linear[2] }}</td> 
        </tr>
        <tr>
            <td>function calls</td> <td>{{ linear[3] }}</td> 
        </tr>
        <tr><td>execution time</td> <td>{{ linear[4] }}</td> 
        </tr>
    </table>

    <h2> Binary Search </h2>

</body>
</html>