<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sort</title>
    <!-- Link to the CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <a href = "/">home</a>
    <a href = "/search">05 Search</a>
    <a href = "/stack">07 Stack</a>
    <a href = "/queue">08 Queue</a>

    <h1>06 Sort</h1>
    <p> This task utilises Merge Sort and Bubble Sort to compare speed </p>
<!--
    <h2> Bubble Sort </h2>
    <table border = "3">
        <tr>
            <td>size</td> <td>{{ bubble[0] }}</td> 
        </tr>
        <tr>
            <td>value sought</td> <td>{{ bubble[1] }}</td> 
        </tr>
        <tr>
            <td>exists?</td> <td>{{ bubble[2] }}</td> 
        </tr>
        <tr>
            <td>function calls</td> <td>{{ bubble[3] }}</td> 
        </tr>
        <tr><td>execution time</td> <td>{{ bubble[4] }}</td> 
        </tr>
    </table>
-->
    <h2> Merge Sort </h2>

    <table border = "3">
        <tr>
            <td>size</td> <td>{{ merge[0] }}</td> 
        </tr>
        <tr>
            <td>function calls</td> <td>{{ merge[1] }}</td> 
        </tr>
        <tr>
            <td>execution time</td> <td>{{ merge[2] }}</td> 
        </tr>
    </table>

</body>
</html>